body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
}

h1 a {
    text-decoration: none;
    color: #333;
}

p {
    font-size: 1em;
    margin: 5px 0;
    padding: 0;
}

nav {
    margin-top: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px
}